
<%- include("partials/header"); -%>

<div class="top-div">

<h3>PLAYER NAME : <%= playerName %></h3>
<h3>DATE : <%= date %></h3>

</div>

<div class="top-div score-div">

<div class="scoreDivs" >
<h3>TOTAL QUESTIONS</h3>
<h4><%= totalQuestion %></h4>
</div>

<div class="scoreDivs" >
<h3>QUESTIONS LEFT</h3>
<h4><%= questionLeft %></h4>

</div>

<div class="scoreDivs" >
<h3>SCORE</h3>
<h4><%= score %></h4>

</div>

<div class="scoreDivs" >
<h3>WRONG ANSWER</h3>
<h4><%= wrongAns %></h4>

</div>

<div class="scoreDivs" >
<h3>CORRECT ANSWER</h3>
<h4><%= correctAns %></h4>

</div>

</div>

<div class="main-div">

    <form action="/quiz" method="post">

        <h1><%= question %></h1><br>

        <input class = "options"  type="radio" name="option" value="<%= a %>" id="option-A">
        <label for="option-A"> <%= a %> </label><br><br>

        <input class = "options"  type="radio" name="option" value="<%= b %>" id="option-B">
        <label for="option-B"><%= b %></label><br><br>

        <input class = "options" type="radio" name="option" value="<%= c %>" id="option-C">
        <label for="option-C"><%= c %></label><br><br>

        <input class = "options"  type="radio" name="option" value="<%= d %>" id="option-D">
        <label for="option-D"><%= d %></label><br><br>

        <button class="btn" type="submit" name="submit">Next</button>

    </form>

</div>


<%- include("partials/footer"); -%>
